s<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.79, maximum-scale=1.0, user-scalable=0">
    <title>HR12</title>
</head>

<link rel="stylesheet" href="./stylesheets/style.css">

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<body>
    <header>
        <div class="nav container">
            <a href="#" class="logo">MENU</a>
            <i class='bx bxs-shopping-bag' id="cart-icon"></i>        

            <div class="cart">
                <h2 class="cart-title">Your Cart</h2>

                <div class="cart-content">
                </div>
                <div class="total">
                    <div class="total-title">Total</div>
                    <div class="total-price">₹0</div>
                </div>
                <button class="btn-buy" type="button">Buy Now</button>

                <i class='bx bx-x' id="close-btn"></i>
            </div>
        </div>
    </header>
    <section class="shop container">
        <h2 class="section-title">
            Order Dishes
        </h2>
        <div class="shop-content">
            <div class="product-box">
                <img src="https://www.oliviascuisine.com/wp-content/uploads/2021/08/calzone-720x1080.jpg" alt="" class="product-img">
                <h2 class="product-title">Cheese Calzone</h2>
                <span class="price">₹99</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="https://img.freepik.com/premium-photo/iced-coffee_1048944-20405598.jpg?size=626&ext=jpg$" alt="" class="product-img">
                <h2 class="product-title">Cold Coffee</h2>
                <span class="price">₹49</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="https://hips.hearstapps.com/hmg-prod/images/delish-202104-strawberrymilkshake-020-1654018781.jpg?crop=0.762xw:0.916xh;0.0463xw,0.0759xh&resize=980:*" alt="" class="product-img">
                <h2 class="product-title">Milkshake</h2>
                <span class="price">₹5.99</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="https://hips.hearstapps.com/hmg-prod/images/delish-202104-strawberrymilkshake-020-1654018781.jpg?crop=0.762xw:0.916xh;0.0463xw,0.0759xh&resize=980:*" alt="" class="product-img">
                <h2 class="product-title">Strawberry Milkshake</h2>
                <span class="price">₹5.99</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="https://hips.hearstapps.com/hmg-prod/images/delish-202104-strawberrymilkshake-020-1654018781.jpg?crop=0.762xw:0.916xh;0.0463xw,0.0759xh&resize=980:*" alt="" class="product-img">
                <h2 class="product-title">Strawberry Milkshake</h2>
                <span class="price">₹5.99</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="https://hips.hearstapps.com/hmg-prod/images/delish-202104-strawberrymilkshake-020-1654018781.jpg?crop=0.762xw:0.916xh;0.0463xw,0.0759xh&resize=980:*" alt="" class="product-img">
                <h2 class="product-title">Strawberry Milkshake</h2>
                <span class="price">₹5.99</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="https://hips.hearstapps.com/hmg-prod/images/delish-202104-strawberrymilkshake-020-1654018781.jpg?crop=0.762xw:0.916xh;0.0463xw,0.0759xh&resize=980:*" alt="" class="product-img">
                <h2 class="product-title">Strawberry Milkshake</h2>
                <span class="price">₹5.99</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="https://hips.hearstapps.com/hmg-prod/images/delish-202104-strawberrymilkshake-020-1654018781.jpg?crop=0.762xw:0.916xh;0.0463xw,0.0759xh&resize=980:*" alt="" class="product-img">
                <h2 class="product-title">Strawberry Milkshake</h2>
                <span class="price">₹5.99</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="https://hips.hearstapps.com/hmg-prod/images/delish-202104-strawberrymilkshake-020-1654018781.jpg?crop=0.762xw:0.916xh;0.0463xw,0.0759xh&resize=980:*" alt="" class="product-img">
                <h2 class="product-title">Strawberry Milkshake</h2>
                <span class="price">₹5.99</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="https://hips.hearstapps.com/hmg-prod/images/delish-202104-strawberrymilkshake-020-1654018781.jpg?crop=0.762xw:0.916xh;0.0463xw,0.0759xh&resize=980:*" alt="" class="product-img">
                <h2 class="product-title">Strawberry Milkshake</h2>
                <span class="price">₹5.99</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="https://hips.hearstapps.com/hmg-prod/images/delish-202104-strawberrymilkshake-020-1654018781.jpg?crop=0.762xw:0.916xh;0.0463xw,0.0759xh&resize=980:*" alt="" class="product-img">
                <h2 class="product-title">Strawberry Milkshake</h2>
                <span class="price">₹5.99</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="https://hips.hearstapps.com/hmg-prod/images/delish-202104-strawberrymilkshake-020-1654018781.jpg?crop=0.762xw:0.916xh;0.0463xw,0.0759xh&resize=980:*" alt="" class="product-img">
                <h2 class="product-title">Strawberry Milkshake</h2>
                <span class="price">₹5.99</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
        </div>
    </section>
    

    <footer>
        <p class="CodEthics">&copy; 2024 CodEthics</p>
    </footer>


    <script src="./javascripts/main.js"></script>
</body>
</html>