HR12
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.79, maximum-scale=1.0, user-scalable=0">
    <title>HR12</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">

    <style>
        #openPopupBtn {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }

        .popup {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .popup-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 400px;
            text-align: center;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .size-btn {
            margin: 10px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>

<link rel="stylesheet" href="./stylesheets/style.css">

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<body>
    <header>

        <div id="popup" class="popup">
            <div class="popup-content">
                <span class="close">&times;</span>
                <h2>Select Size</h2>
                <button class="size-btn" data-size="small">Small</button>
                <button class="size-btn" data-size="medium">Medium</button>
                <button class="size-btn" data-size="large">Large</button>
            </div>
        </div>

        <div id="numberModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Verify Your Number</h2>
                <p>Please enter your Name:</p>
                <input type="text" id="name" placeholder="Enter Name">
                <p>Please enter your phone number for verification:</p>
                <input type="text" id="phoneNumber" placeholder="Enter phone number">
                <button id="verifyNumber" type="button">Send OTP</button>
                <div id="otpSection">
                    <p>Enter the OTP sent to your Number:</p>
                    <input type="text" id="otp" placeholder="Enter OTP" style=" padding: 6px;">
                    <button id="verifyOtp" type="button" onclick="verifyOtp()" style="
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin:2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
">
                        Verify
                    </button>

                </div>
            </div>
        </div>


        <div class="nav container">
            <a href="#" class="logo">HR12 Kitchen</a>
            <i class='bx bxs-shopping-bag' id="cart-icon"></i>

            <div class="cart">
                <h2 class="cart-title">Your Cart</h2>

                <div class="cart-content">
                </div>
                <div class="total">
                    <div class="total-title">Total</div>
                    <div class="total-price">₹0</div>
                </div>
                <button class="btn-buy" type="button">Buy Now</button>

                <i class='bx bx-x' id="close-btn"></i>
            </div>
        </div>
    </header>

    <div
        style="position: fixed; z-index: 10; background: white; border: 1px solid gray; bottom: 5%; right: 10%; border-radius: 50%;">
        <a href="#shop" style="color: black;"><i class='bx bx-up-arrow-alt' style="font-size: 3rem;"></i></a>
    </div>

    <section class="shop container" id="shop">
        <h2 class="section-title">
            Order Dishes
        </h2>

        <div class="mainMenu">
            <div class="menuList">
                <a href="#Tea">
                    <li>Tea</li>
                </a>
                <a href="#Coffee">
                    <li>Coffee</li>
                </a>
                <a href="#Salad">
                    <li>Salad</li>
                </a>
                <a href="#Shakes">
                    <li>Shakes</li>
                </a>
                <a href="#Maggi">
                    <li>Maggi</li>
                </a>
            </div>
            <div class="menuList">
                <a href="#Bun">
                    <li>Bun</li>
                </a>
                <a href="#Burger">
                    <li>Burger</li>
                </a>
                <a href="#Pasta">
                    <li>Pasta</li>
                </a>
                <a href="#Drinks">
                    <li>Drinks</li>
                </a>
                <a href="#Deserts">
                    <li>Deserts</li>
                </a>
            </div>
        </div>

        <div id="Tea" class="Achi_si"
            style=" margin-top: 1.5rem; margin-bottom: 1.5rem; text-align: center; font-size: 1.3rem; font-weight: 500; box-shadow: 2px 0 4px hsl(0 4% 15% / 10%);">
            ----------Tea----------</div>
        <div class="shop-content">
            <div class="product-box">
                <img src="../images/tea.jpeg" alt="" class="product-img">
                <h2 class="product-title">Tea</h2>
                <span class="price">₹20</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/ginger tea.jpeg" alt="" class="product-img">
                <h2 class="product-title">Ginger Tea</h2>
                <span class="price">₹30</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/ginger tea.jpeg" alt="" class="product-img">
                <h2 class="product-title">Elaichi Tea</h2>
                <span class="price">₹30</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/green tea.jpeg" alt="" class="product-img">
                <h2 class="product-title">Green Tea</h2>
                <span class="price">₹30</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/kulhad tea.jpeg" alt="" class="product-img">
                <h2 class="product-title">Kulhad Tea</h2>
                <span class="price">₹40</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/Hot Coffee.jpeg" alt="" class="product-img">
                <h2 class="product-title">Hot Coffee</h2>
                <span class="price">₹30</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/black coffee.jpeg" alt="" class="product-img">
                <h2 class="product-title">Black Coffee</h2>
                <span class="price">₹25</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
        </div>
        <div class="Achi_si"
            style="margin-top: 1.5rem; margin-bottom: 1.5rem; text-align: center; font-size: 1.3rem; font-weight: 500;  ; box-shadow: 2px 0 4px hsl(0 4% 15% / 10%);"
            id="Coffee">----------Cold Coffee----------</div>
        <div class="shop-content">
            <div class="product-box">
                <img src="../images/cold coffee.jpeg" alt="" class="product-img">
                <h2 class="product-title">Cold Coffee</h2>
                <span class="price">₹49</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/cold coffee with a vanilla cream.jpeg" alt="" class="product-img">
                <h2 class="product-title">Ice cream Cold coffee</h2>
                <span class="price">₹69</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/WhatsApp Image 2024-06-15 at 13.36.30_dc71cd41.jpg" alt="" class="product-img">
                <h2 class="product-title">Caramel Cold Coffee</h2>
                <span class="price">₹79</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="">
            </div>

        </div>
        <div class="Achi_si"
            style="margin-top: 1.5rem; margin-bottom: 1.5rem; text-align: center; font-size: 1.3rem; font-weight: 500;  ; box-shadow: 2px 0 4px hsl(0 4% 15% / 10%);"
            id="Fries">----------Fries----------</div>
        <div class="shop-content">
            <div class="product-box">
                <img src="../images/French Fries.jpeg" alt="" class="product-img">
                <h2 class="product-title">French Fries</h2>
                <span class="price">₹69</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/Peri Peri Fries.jpeg" alt="" class="product-img">
                <h2 class="product-title">Peri Peri Fries</h2>
                <span class="price">₹89</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/Cheese Fries .jpeg" alt="" class="product-img">
                <h2 class="product-title">Cheese Dip Fries</h2>
                <span class="price">₹129</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="">
            </div>
        </div>
        <div class="Achi_si"
            style="margin-top: 1.5rem; margin-bottom: 1.5rem; text-align: center; font-size: 1.3rem; font-weight: 500;  ; box-shadow: 2px 0 4px hsl(0 4% 15% / 10%);"
            id="Salad">----------Salad----------</div>
        <div class="shop-content">
            <div class="product-box">
                <img src="../images/Easy cucumber, tomato and red onion salad - Simply Delicious.jpeg" alt=""
                    class="product-img">
                <h2 class="product-title">Simple Salad</h2>
                <span class="price">₹59</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/Easy Mexican Chopped Salad _ Slimming Eats Recipe.jpeg" alt="" class="product-img">
                <h2 class="product-title">Mexican Salad</h2>
                <span class="price">₹89</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/paneer salad.jpeg" alt="" class="product-img">
                <h2 class="product-title">Paneer Salad</h2>
                <span class="price">₹99</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="">
            </div>
        </div>

        <div class="Achi_si"
            style="margin-top: 1.5rem; margin-bottom: 1.5rem; text-align: center; font-size: 1.3rem; font-weight: 500;  ; box-shadow: 2px 0 4px hsl(0 4% 15% / 10%);"
            id="Shakes">----------Shakes----------</div>
        <div class="shop-content">
            <div class="product-box">
                <img src="../images/Tropical Mango Shake .jpeg" alt="" class="product-img">
                <h2 class="product-title">Mango shake</h2>
                <span class="price">₹59</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/caramel shake.jpeg" alt="" class="product-img">
                <h2 class="product-title">Vanilla shake</h2>
                <span class="price">₹70</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/Butterscotch Shake.jpeg" alt="" class="product-img">
                <h2 class="product-title">Butter Scotch shake</h2>
                <span class="price">₹98</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/Strawberry Milkshake .jpeg" alt="" class="product-img">
                <h2 class="product-title">Strawberry shake</h2>
                <span class="price">₹79</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/oreo shake.jpeg" alt="" class="product-img">
                <h2 class="product-title">Oreo shake</h2>
                <span class="price">₹80</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/Tahini Chocolate Coffee Date Shake .jpeg" alt="" class="product-img">
                <h2 class="product-title">Chocolate shake</h2>
                <span class="price">₹90</span>
                <span class='add-cart'> Add to Cart</span>
            </div>

        </div>
        <div class="Achi_si"
            style="margin-top: 1.5rem; margin-bottom: 1.5rem; text-align: center; font-size: 1.3rem; font-weight: 500;  ; box-shadow: 2px 0 4px hsl(0 4% 15% / 10%);"
            id="Maggi">----------Maggi----------</div>
        <div class="shop-content">
            <div class="product-box">
                <img src="../images/Plain Maggi.jpeg" alt="" class="product-img">
                <h2 class="product-title">2 min Maggi</h2>
                <span class="price">₹50</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/Cheese Maggie.jpeg" alt="" class="product-img">
                <h2 class="product-title">Cheese Maggi</h2>
                <span class="price">₹80</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/Veg maggi.jpeg" alt="" class="product-img">
                <h2 class="product-title">Classic Veg. Maggi</h2>
                <span class="price">₹99</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/milk maggi.jpeg" alt="" class="product-img">
                <h2 class="product-title">Milk Maggi</h2>
                <span class="price">₹100</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
        </div>
        <div class="Achi_si"
            style="margin-top: 1.5rem; margin-bottom: 1.5rem; text-align: center; font-size: 1.3rem; font-weight: 500;  ; box-shadow: 2px 0 4px hsl(0 4% 15% / 10%);"
            id="Bun">----------Bun----------</div>
        <div class="shop-content">
            <div class="product-box">
                <img src="../images/buns.jpeg" alt="" class="product-img">
                <h2 class="product-title">Veg Bun</h2>
                <span class="price">₹30</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/Cheese Buns - Heather Christo.jpeg" alt="" class="product-img">
                <h2 class="product-title">Cheese Veg Bun</h2>
                <span class="price">₹80</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="">
            </div>
            <div class="">
            </div>
        </div>
        <div class="Achi_si"
            style="margin-top: 1.5rem; margin-bottom: 1.5rem; text-align: center; font-size: 1.3rem; font-weight: 500;  ; box-shadow: 2px 0 4px hsl(0 4% 15% / 10%);"
            id="Burger">----------Burger----------</div>
        <div class="shop-content">

            <div class="product-box">
                <img src="../images/aloo tikki burger.jpeg" alt="" class="product-img">
                <h2 class="product-title">Allo Tikki Burger</h2>
                <span class="price">₹39</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/paneer burger.jpeg" alt="" class="product-img">
                <h2 class="product-title">Paneer Burger</h2>
                <span class="price">₹50</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/mushroom.jpeg" alt="" class="product-img">
                <h2 class="product-title">Mushroom Burger</h2>
                <span class="price">₹60</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/cheese burger.jpeg" alt="" class="product-img">
                <h2 class="product-title">Cheese Burger</h2>
                <span class="price">₹80</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/aloo tikki burger.jpeg" alt="" class="product-img">
                <h2 class="product-title">HR12 Special Burger</h2>
                <span class="price">₹90</span>
                <span class='add-cart'> Add to Cart</span>
            </div>

        </div>
        <div class="Achi_si"
            style="margin-top: 1.5rem; margin-bottom: 1.5rem; text-align: center; font-size: 1.3rem; font-weight: 500;  ; box-shadow: 2px 0 4px hsl(0 4% 15% / 10%);"
            id="Pasta">----------Pasta----------</div>
        <div class="shop-content">
            <div class="product-box">
                <img src="../images/White Sauce Pasta .jpeg" alt="" class="product-img">
                <h2 class="product-title">White Sauce Pasta</h2>
                <span class="price">₹90</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/red sauce pasta (2).jpeg" alt="" class="product-img">
                <h2 class="product-title">Red Pasta</h2>
                <span class="price">₹100</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/mix sauce.jpeg" alt="" class="product-img">
                <h2 class="product-title">Mix Sauce Pasta</h2>
                <span class="price">₹110</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/jalapeno pasta.jpeg" alt="" class="product-img">
                <h2 class="product-title">Jalapeno & Cheese Magh Pasta</h2>
                <span class="price">₹170</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/mix sauce.jpeg" alt="" class="product-img">
                <h2 class="product-title">HR12 Chilli Lava</h2>
                <span class="price">₹180</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
        </div>
        <div class="Achi_si"
            style="margin-top: 1.5rem; margin-bottom: 1.5rem; text-align: center; font-size: 1.3rem; font-weight: 500;  ; box-shadow: 2px 0 4px hsl(0 4% 15% / 10%);"
            id="Drinks">----------Refreshing Drinks----------</div>

        <div class="shop-content">
            <div class="product-box">
                <img src="../images/Virgin Mojito .jpeg" alt="" class="product-img">
                <h2 class="product-title">Mint Mojito</h2>
                <span class="price">₹69</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/lemon mojito.jpeg" alt="" class="product-img">
                <h2 class="product-title">Lemon Mojito</h2>
                <span class="price">₹69</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="">
            </div>
            <div class="">
            </div>
        </div>
        <div class="Achi_si" id="Deserts"
            style="margin-top: 1.5rem; margin-bottom: 1.5rem; text-align: center; font-size: 1.3rem; font-weight: 500;  ; box-shadow: 2px 0 4px hsl(0 4% 15% / 10%);">
            ----------Deserts----------</div>

        <div class="shop-content">
            <div class="product-box">
                <img src="../images/Brownie.jpeg" alt="" class="product-img">
                <h2 class="product-title">Choco Lava</h2>
                <span class="price">₹69</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../images/WhatsApp Image 2024-06-15 at 13.57.29_4b661ab5.jpg" alt="" class="product-img">
                <h2 class="product-title">Ice Cream</h2>
                <span class="price">₹20</span>
                <span class='add-cart'> Add to Cart</span>
            </div>
            <div class="">
            </div>
            <div class="">
            </div>
        </div>
        <div class="Achi_si" id="Deserts"
            style="margin-top: 1.5rem; margin-bottom: 1.5rem; text-align: center; font-size: 1.3rem; font-weight: 500;  ; box-shadow: 2px 0 4px hsl(0 4% 15% / 10%);">
            ----------Wraps----------</div>

        <div class="shop-content">
            <div class="product-box">
                <img src="../public/images/aloo tikki wrap.jpeg" alt="" class="product-img">
                <h2 class="product-title">Aloo Tikki</h2>
                <span class="price">₹69</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../public/images/mexican wrap.jpeg" alt="" class="product-img">
                <h2 class="product-title">Mexican</h2>
                <span class="price">₹89</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../public/images/paneer wrap.jpeg" alt="" class="product-img">
                <h2 class="product-title">Paneer</h2>
                <span class="price">₹99</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../public/images/spicy wrap.jpeg" alt="" class="product-img">
                <h2 class="product-title">Spicy Wraps</h2>
                <span class="price">₹99</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
        </div>
        <div class="Achi_si" id="Deserts"
            style="margin-top: 1.5rem; margin-bottom: 1.5rem; text-align: center; font-size: 1.3rem; font-weight: 500;  ; box-shadow: 2px 0 4px hsl(0 4% 15% / 10%);">
            ----------Calzones----------</div>

        <div class="shop-content">
            <div class="product-box">
                <img src="../public/images/cheese calzone.jpeg" alt="" class="product-img">
                <h2 class="product-title">Cheese Calzones</h2>
                <span class="price">₹99</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../public/images/spicy calzone.jpeg" alt="" class="product-img">
                <h2 class="product-title">Spicy Calzones</h2>
                <span class="price">₹109</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../public/images/mexican calzone.jpeg" alt="" class="product-img">
                <h2 class="product-title">Mexican Calzonesr</h2>
                <span class="price">₹119</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../public/images/stuffed calzone.jpeg" alt="" class="product-img">
                <h2 class="product-title">Stuff Calzones</h2>
                <span class="price">₹160</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
        </div>
        <div class="Achi_si" id="Deserts"
            style="margin-top: 1.5rem; margin-bottom: 1.5rem; text-align: center; font-size: 1.3rem; font-weight: 500;  ; box-shadow: 2px 0 4px hsl(0 4% 15% / 10%);">
            ----------Garlic Bread----------</div>

        <div class="shop-content">
            <div class="product-box">
                <img src="../public/images/cheese garlic bread.jpeg" alt="" class="product-img">
                <h2 class="product-title">Cheese Garlic Bread</h2>
                <span class="price">₹999</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../public/images/jalapeno garlic bread.jpeg" alt="" class="product-img">
                <h2 class="product-title">Jalapeno Garlic Bread</h2>
                <span class="price">₹110</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../public/images/stuffed garlic bread.jpeg" alt="" class="product-img">
                <h2 class="product-title">Stuffed Garlic Bread</h2>
                <span class="price">₹140</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
        </div>
        <div class="Achi_si" id="Deserts"
            style="margin-top: 1.5rem; margin-bottom: 1.5rem; text-align: center; font-size: 1.3rem; font-weight: 500;  ; box-shadow: 2px 0 4px hsl(0 4% 15% / 10%);">
            ----------Ultimate Pizza Pie----------</div>

        <div class="shop-content">
            <div class="product-box">
                <img src="../public/images/spicy journey.jpeg" alt="" class="product-img">
                <h2 class="product-title">Spicy Journey</h2>
                <span class="price">₹129</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../public/images/doodle woodle.jpeg" alt="" class="product-img">
                <h2 class="product-title">Doodle woodle</h2>
                <span class="price">₹129</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../public/images/on the track.jpeg" alt="" class="product-img">
                <h2 class="product-title">On the Track</h2>
                <span class="price">₹129</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../public/images/loaded cheese.jpeg" alt="" class="product-img">
                <h2 class="product-title">Loaded Cheese</h2>
                <span class="price">₹129</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../public/images/sweet and tangy.jpeg" alt="" class="product-img">
                <h2 class="product-title">Sweet and Tangy Pie</h2>
                <span class="price">₹129</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
        </div>
        <div class="Achi_si" id="Deserts"
            style="margin-top: 1.5rem; margin-bottom: 1.5rem; text-align: center; font-size: 1.3rem; font-weight: 500;  ; box-shadow: 2px 0 4px hsl(0 4% 15% / 10%);">
            ----------Favorite Beginnings----------</div>

        <div class="shop-content">
            <div class="product-box">
                <img src="../public/images/classic veg.jpeg" alt="" class="product-img">
                <h2 class="product-title">Classic Veg</h2>
                <span class="price">₹159</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../public/images/tandoori paneer.jpeg" alt="" class="product-img">
                <h2 class="product-title">Tandoori Paneer</h2>
                <span class="price">₹159</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../public/images/spicy treat.jpeg" alt="" class="product-img">
                <h2 class="product-title">Spicy Treat</h2>
                <span class="price">₹159</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../public/images/farm house.jpeg" alt="" class="product-img">
                <h2 class="product-title">Farm House</h2>
                <span class="price">₹159</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
                <div class="product-box">
                <img src="../public/images/mexican salsa.jpeg" alt="" class="product-img">
                <h2 class="product-title">Mexican Salsa</h2>
                <span class="price">₹159</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
                <div class="product-box">
                <img src="../public/images/paneer bites.jpeg" alt="" class="product-img">
                <h2 class="product-title">Paneer Bites</h2>
                <span class="price">₹159</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
                <div class="product-box">
                <img src="../public/images/your choice.jpeg" alt="" class="product-img">
                <h2 class="product-title">Your Choice</h2>
                <span class="price">₹159</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
        </div>
        <div class="Achi_si" id="Deserts"
            style="margin-top: 1.5rem; margin-bottom: 1.5rem; text-align: center; font-size: 1.3rem; font-weight: 500;  ; box-shadow: 2px 0 4px hsl(0 4% 15% / 10%);">
            ----------Basic Concept----------</div>

        <div class="shop-content">
            <div class="product-box">
                <img src="../public/images/golden delight.jpeg" alt="" class="product-img">
                <h2 class="product-title">Golden Delight</h2>
                <span class="price">₹119</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../public/images/veg pie.jpeg" alt="" class="product-img">
                <h2 class="product-title">Veg Pie</h2>
                <span class="price">₹119</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../public/images/veggie fresh.jpeg" alt="" class="product-img">
                <h2 class="product-title">Veggie Fresh</h2>
                <span class="price">₹119</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
            <div class="Achi_si" id="Deserts"
                style="margin-top: 1.5rem; margin-bottom: 1.5rem; text-align: center; font-size: 1.3rem; font-weight: 500;  ; box-shadow: 2px 0 4px hsl(0 4% 15% / 10%);">
                ----------Combo's----------</div>
    
            <div class="shop-content">
                <div class="product-box">
                    <img src="../public/images/1st combo.jpeg" alt="" class="product-img">
                    <h2 class="product-title">1st Combo</h2>
                    <span class="price">₹99</span>
                    <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
                </div>
                <div class="product-box">
                    <img src="../public/images/2nd combo.jpeg" alt="" class="product-img">
                    <h2 class="product-title">2nd Combo</h2>
                    <span class="price">₹159</span>
                    <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
                </div>
        <div class="Achi_si" id="Deserts"
            style="margin-top: 1.5rem; margin-bottom: 1.5rem; text-align: center; font-size: 1.3rem; font-weight: 500;  ; box-shadow: 2px 0 4px hsl(0 4% 15% / 10%);">
            ----------Sandwhich----------</div>

        <div class="shop-content">
            <div class="product-box">
                <img src="../public/images/golden corn sandwich.jpeg" alt="" class="product-img">
                <h2 class="product-title">Golden Corn Sandwhich</h2>
                <span class="price">₹70</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../public/images/home style.jpeg" alt="" class="product-img">
                <h2 class="product-title">Home Style</h2>
                <span class="price">₹80</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../public/images/mexican.jpeg" alt="" class="product-img">
                <h2 class="product-title">Mexican</h2>
                <span class="price">₹80</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
            <div class="product-box">
                <img src="../public/images/paneer sandwich.jpeg" alt="" class="product-img">
                <h2 class="product-title">Paneer Sandwich</h2>
                <span class="price">₹100</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
                <div class="product-box">
                <img src="../images/Brownie.jpeg" alt="" class="product-img">
                <h2 class="product-title">Paneer Herb</h2>
                <span class="price">₹110</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
                <div class="product-box">
                <img src="../images/Brownie.jpeg" alt="" class="product-img">
                <h2 class="product-title">Queen Margherita</h2>
                <span class="price">₹120</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
                <div class="product-box">
                <img src="../images/Brownie.jpeg" alt="" class="product-img">
                <h2 class="product-title">Spicy Journey</h2>
                <span class="price">₹120</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
                <div class="product-box">
                <img src="../images/Brownie.jpeg" alt="" class="product-img">
                <h2 class="product-title">Tandoori Paneer</h2>
                <span class="price">₹150</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
                <div class="product-box">
                <img src="../images/Brownie.jpeg" alt="" class="product-img">
                <h2 class="product-title">Farm House</h2>
                <span class="price">₹150</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
                <div class="product-box">
                <img src="../images/Brownie.jpeg" alt="" class="product-img">
                <h2 class="product-title">Hr12 Spl.</h2>
                <span class="price">₹180</span>
                <span class='add-cart'   id="openPopupBtn"> Add to Cart</span>
            </div>
        </div>
    </section>


    <footer>
        <p class="CodEthics">&copy; 2024 CodEthics</p>
    </footer>


    <script src="./javascripts/main.js"></script>

</body>

</html>